<br>
<center><h2 class="signup-title">Book <%= @lookalike.celeb_name %></h2></center>
<br>

<div class="form-inputs">
    <%= simple_form_for [ @lookalike, @booking ] do |f| %>
        <%= f.input :date %>
        <div class="form-actions">
            <%= f.button :submit, "Sign up" %>
        </div>
    <% end %>
</div>
    
<div class="login">
    <p>- or -</p>
    <%= link_to "Return to #{@lookalike.celeb_name}´s details", lookalike_path(@lookalike), class: "login-btn" %>
</div>
