<h1 class="index-header">Browse Lookalikes</h1>

<div class="search-form">
    <%= form_tag lookalikes_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a Lookalike"
    %>
    <%= submit_tag "Search", class: "btn-standard" %>
    <% end %>
</div>


<div class="container">
    <div class="card-deck">
      <div class="row">
        <% @lookalikes.each do |lookalike| %>
        <div class="col-lg-6 index-cards">
          <div class="card index-card">
              <%= cl_image_tag lookalike.photo.key %>
              <div class="card-body">
                <p class="card-title-index"><%= lookalike.celeb_name %> <small class="text-muted"> / <%= lookalike.price %>€/h</small> </p>
                <p class="card-text-index">
                <%= lookalike.description.first(95) %> ...
                </p>
              </div>
              <div class="card-footer-index">
                <%= link_to "More Information", lookalike_path(lookalike), class:"btn-standard" %>
              </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
</div>

  <div class="btn-create">
    <%= link_to "Create your own look-alike", new_lookalike_path(), class:"btn btn-primary btn-standard"%>
  </div>

