<h1><%= @lookalike.celeb_name %></h1>

<h2>Biography</h2>
<p><%= @lookalike.description %></p>
<p><%= @lookalike.price %>€</p>

<p><%= link_to "Book #{@lookalike.celeb_name}", new_lookalike_booking_path(@lookalike) %></p> |
<p><%= link_to "Return to all lookalikes", lookalikes_path %></p>
